<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.applimedecin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/Doc2Doc"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme"
        tools:ignore="ExtraText,GoogleAppIndexingWarning"
        tools:targetApi="n"
        android:fullBackupContent="true"
        android:name="androidx.multidex.MultiDexApplication">
        <activity android:name=".ProfilClient" />
        <activity android:name=".ProfilRemplacant" />
        <activity android:name=".AnnoncesActivity" />
        <activity android:name=".FormulaireRemplacantActivityA" />
        <activity android:name=".FormulaireRemplacantActivityB" />
        <activity android:name=".FormulaireRemplacantActivityE" />
        <activity android:name=".FormulaireClientGeneral" />
        <activity android:name=".FormulaireClientActivite" />
        <activity android:name=".FormulaireClientCarte" />
        <activity android:name=".FormulaireOffreGeneral" />
        <activity android:name=".FormulaireOffreStart" />
        <activity android:name=".FormulaireOffreEnd" />
        <activity android:name=".FormulaireOffreSchedule" />
        <activity android:name=".FormulaireOffreValidate" />
        <activity android:name=".FormulaireActivity" />
        <activity android:name=".FormulaireAdminActivity" />
        <activity android:name=".ConnexionActivity" />
        <activity android:name=".AnnonceView" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>